version: "3.8"
services:
  web:
    build:
      context: ./web
      dockerfile: dockerfile
    container_name: web
    ports:
      - "5000:80"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: mydb
      DB_USER: user
      DB_PASS: password

  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    container_name: db
    environment:
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data:

